body {
    margin: 0;
    line-height: 1.618
}

a {
    text-decoration: none;
}

.my-mnu:hover {
    text-decoration: none;
    background: linear-gradient(30deg, rgb(2, 4, 136) 0%, rgb(243, 2, 251) 100%);
    line-height: 10px;
    margin: 7px;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 20px;
    font-family: 'Berlin Sans FB';
}

.main-menu {
    background: #12011ad9;
    width: 100%;
    overflow: hidden;
}

    .main-menu ul li {
        float: left;
    }

        .main-menu ul li a {
            color: #fff;
            padding: 1.5em 1em;
            display: block;
        }

    .main-menu.visible-scroll-up {
        transform: translate3d(0px, 100%, 0px);
        -webkit-transform: translate3d(0px, 100%, 0px);
        -moz-transform: translate3d(0px, 100%, 0px);
        -o-transform: translate3d(0px, 100%, 0px);
    }

    .main-menu.fixed-menu {
        position: fixed;
        top: -68px;
        transition: transform 0.3s ease 0s;
        -webkit-transition: transform 0.3s ease 0s;
        -moz-transition: transform 0.3s ease 0s;
        -o-transition: transform 0.3s ease 0s;
    }

.main-menu {
    backface-visibility: hidden;
    transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
}

.main-menu {
    height: 68px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
}
