
/* dropdown CSS */

.drop_it {
    display:none;
}


/* nav css */

.navbar_s {
    width: 99.5vw;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    background-color: rgb(148, 95, 233);
    /*margin: 0px -7px 0px -10px;*/
    padding: 5px 30px;
    z-index: 1;
    animation: navbar 7s infinite;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

    .navbar_s > ul {
        display: flex;
        flex-direction: row;
        margin-right: 20px;
        flex: 50%;
        justify-content: center;
    }

    .navbar_s > div {
        margin-right: 0px;
    }

    .navbar_s > ul > li {
        padding: 10px;
        margin: 2px 15px;
        position: relative;
    }

        .navbar_s > ul > li > a {
            color: goldenrod;
            font-size: 20px;
            
            text-decoration: none;
        }

        .navbar_s > ul > li:hover, .active_s {
            background-color: rgb(14, 10, 1);
        }

        .navbar_s > ul > li:hover {
            color: darkgoldenrod;
            background: transparent;
            box-shadow: none;
        }

        .navbar_s > ul > li:before,
        .navbar_s > ul > li:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            height: 2px;
            width: 0;
            background-color: darkgoldenrod;
            /*box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003, 4px 4px 5px 0px #0002;*/
            transition: 400ms ease all;
        }

        .navbar_s > ul > li:after {
            right: inherit;
            top: inherit;
            left: 0;
            bottom: 0;
        }

        .navbar_s > ul > li:hover:before,
        .navbar_s > ul > li:hover:after {
            width: 100%;
            transition: 800ms ease all;
        }


/* nav background */


@keyframes navbar {
    0% {
        background-color: rgb(14, 28, 29);
    }

    50% {
        background-color: rgb(13, 21, 49);
    }

    100% {
        background-color: rgb(17, 35, 37);
    }
}


/* nav css ends */
