<nav class=".nav_mp navbar_s" id="menu">
    <div>
        <a href="./index.aspx">
            <img src="./src/img/logo.png" alt="Mahder Logo" width="150px" />
            </a>
    </div>

    <ul>
        <li class="active_s"><a href="./index.aspx">Home</a></li>
        <li>
            <a href="#">Catagories</a>
            <ul class="drop_it">
                <li>
                    <a href="#">Busines Type</a>
                </li>
                <li>
                    <a href="#">By Location</a>
                </li>

            </ul>
        </li>
        <li><a href="~/featured">Featured</a></li>
        <li><a href="#Contact">Contact</a></li>
        <li><a href="~/about">About</a></li>
    </ul>

    <div>
        <button class="custom-btn btn-5 btn-flt-rt" type="button" data-toggle="modal" data-target="#myModal" tabindex="-1">Add Business Info </button>
    </div>
    <div>
        <button class="custom-btn btn-5 btn-flt-rt" type="button" onclick="location.href = './Login.aspx';"> Sign In </button>
    </div>
</nav>


<!--<nav id="m_nav">
    <div id="logo-div">
        <img src="~/src/img/logo.png" alt="Mahder Logo" />
    </div>
    <div>
        <div class="main-menu">
            <ul class="menus">
                <li><a class="my-mnu" href="#">Home</a></li>
                <li>
                    <a class="my-mnu" href="~/catagories">Catagories</a>
                    <ul>
                        <li>
                            <a href="#">Busines Type</a>
                        </li>
                        <li>
                            <a href="#">By Location</a>
                        </li>

                    </ul>
                </li>
                <li><a class="my-mnu" href="~/featured">Featured</a></li>
                <li><a class="my-mnu" href="#Contact">Contact</a></li>
                <li><a class="my-mnu" href="~/about">About</a></li>
            </ul>
        </div>
    </div>
        <div>
            <button class="custom-btn btn-5 btn-flt-rt" type="button" data-toggle="modal" data-target="#myModal" tabindex="-1">Add Business Info </button>
            <button class="custom-btn btn-5 btn-flt-rt" type="button"> Sign In </button>
        </div>
</nav>-->